Flask==3.*
isort
jupyter==1.*
linkchecker
# without this, get an error of "module 'numpy' has no attribute '_no_nep50_warning'"
# https://github.com/ydataai/ydata-profiling/pull/1682
numpy<=2.3
pandas==2.*
pytest
pytest-cov
ruff
ydata-profiling
plotly
streamlit
pandas-gbq
google-cloud-bigquery
db-dtypes #Need this for streamlit to call data from bigquery
selenium #needed to simulate a user clicking download because the Fed does not allow scripts to grab the file directly
webdriver-manager
google-cloud-bigquery-storage